name: CI
on:
  push:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: pnpm/action-setup@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml
      - name: Start test services
        run: |
          docker compose up -d
          docker compose ps
      - name: CI
        env:
          TURBO_TELEMETRY_DISABLED: 1
          REDIS_URL: redis://localhost:6379
          RABBITMQ_URL: amqp://admin:admin@localhost:5672
        run: |
          pnpm install
          # pnpm --filter kkrpc exec playwright install
          pnpx playwright install --with-deps
          pnpm build
          pnpm test
      - name: Stop test services
        if: always()
        run: |
          docker compose down || true
          